.friendNotiItem {
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;
  margin: 12px 8px 0 8px;
  position: relative;
  border-radius: 5px;
  padding: 4px 0 4px 8px;
}

.friendNotiItem:hover {
  background-color: var(--background-white-color);
}

.friendNotiItemImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.friendNotiItemText {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 16px;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}

.friendNotiItemName {
  font-weight: 500;
  align-self: center;
  transform: translateY(-25%);
}

.friendDeclineButton {
  background-color: var(--background-gray-color);
}

.friendAcceptButton {
  background-color: var(--main-color);
  color: var(--white-color);
}

.friendCancelButton {
  background-color: var(--background-gray-color);
}

.notiFriendTitle {
  margin-left: 12px;
  font-weight: 700;
}

.notiFriendHr {
  width: 90%;
  margin: 12px auto;
  color: var(--white-hover);
}

.friendItembutton {
  margin: 0 4px;
}
