.login {
  width: 100vw;
  height: 100vh;
  /* background-color: #f0f2f5; */

  background-color: var(--background-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  width: 100%;
}

.loginDesc {
  font-size: 24px;
}

.loginBox {
  height: 400px;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: var(--border-gray);
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--background-main-color);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginRegisterButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--success-color);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
